.menu{
  background-color: grey;
  position: absolute;
  top: 44px;
  right: 30px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 14px;
  width: 180px;

  .menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      cursor: pointer;
      width: 90%;
      padding:0;
      margin: 5px;
      
      a{
        text-decoration: none;
        color: white;
      }
      &:last-child{
        margin-bottom: 8px;
        margin: 6px 16px 6px;
      }
      &:hover{
        background-color: rgb(0, 136, 255);
      }
    }

    .menuStatus{
      input{
        background-color: transparent;
        border: 1px solid black;
        border-radius: 4px;
        padding: 8px;
        
      }
    }


  }
}