.profile{
  max-width: 1400px;
  margin: 0 auto;
  .lineFour{
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .sectionCenter{
    max-width: 1400px;
    margin: 0 auto;
    gap: 30px;
  }
}